.column_gap{
    column-gap: 20px;
}
.modal_box{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
  }

  .modal_cont{
      max-width: 500px;
  }
  .demoImg{
      border-radius: 10px;
  }